<header>
    <div class="body">
        <div class="blank"></div>

        <div class="bar2">
            <ul>
                <li><i class="fa-solid fa-book-open"></i><a>Overview</a></li>&nbsp;
                <li><i class="fa-solid fa-book-bookmark"></i><a>repository</a></li>&nbsp;
                <li><i class="fa-solid fa-table-columns"></i><a>Project</a></li>&nbsp;
                <li><i class="fa-solid fa-cube"></i><a>Packages</a></li>&nbsp;
                <li><i class="fa-regular fa-star"></i><a>Stars</a></li>&nbsp;
            </ul>

        </div>
    </div>
    <hr>
</header>