<footer>
    <hr>
    <div class="xyz">
        <i id="logo1" class="fa-brands fa-github" style="font-size: 20px; "></i>© 2022 GitHub, Inc.
        <ul>
            <li><a>Terms</a></li>
            <li><a>Privacy</a></li>
            <li><a>Security</a></li>
            <li><a>Status</a></li>
            <li><a>Docs</a></li>
            <li><a>Control GitHub</a></li>
            <li><a>Pricing</a></li>
            <li><a>API</a></li>
            <li><a>Training</a></li>
            <li><a>Blog</a></li>
            <li><a>About</a></li>
        </ul>
    </div>
</footer>