header{display :flex;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 0 1rem;
}
.xyz{
    display: flex;
    padding: 0 1rem;
    align-items: center;
}
.search{
    float: right;
    margin: 8px;
    background: transparent;
    padding-top: 20px;
    display: flex;
    width: 30%;
  padding: 4px 4px;
  margin-right: 20px;
     
 }
 .heading{
    display: flex;
    gap: 10px;
    padding-top: 20px;
  }
li{
    list-style: none;
}
.bell{
    padding-top: 20px;
    margin-left: 20%;
}