<header>
    <div class="logo">
        <i class="fa-brands fa-github" class="fa fa-github" style="font-size: 40px;"></i>
    </div>
    <div class="search">
        <div>
            <input type="text" value="" placeholder="Search or Jump to..." style="background:transparent; border-radius:6px padding0px 60px;padding: 0px 5px 0px;
        border-style: ridge;margin-top:-2%;
      margin-bottom:-2%;width: -webkit-fill-available;">
            <button style="margin-left:-9%; background:transparent;border-radius:3px;color:gray;padding: 0px 5px
        0px; border-style: ridge;">/</button>
        </div>
    </div>
    <div class="abc">
        <div>
            <ul class="heading">
                <li><a>Pull requests</a> </li>&nbsp;
                <li><a>Issues</a> </li>&nbsp;
                <li><a>Code Spaces</a> </li>&nbsp;
                <li><a>Marketplace</a> </li>&nbsp;
                <li><a>Explore</a> </li>&nbsp;
            </ul>
        </div>
    </div>
    <div class="bell">
        <i id="icon2" class="fa-regular fa-bell" style="font:size-20px;"></i>&nbsp;
        <i id="icon1" class="fa-regular fa-plus" style="font: size-40px;"></i>&nbsp;
        <select class="drag1"
            style="width: 20px; cursor: 20px pointer;outline: none;background: none;color:gray;border: none;">
            <option>New repositry</option>
            <option>Import repository</option>
            <option>New codespace</option>
            <option>New gist</option>
            <option>New organization</option>
            <option>New project</option>
        </select>
        <i id="icon3" class="fa-solid fa-user"></i>
        <select class="drag"
            style="width: 20px; cursor: 20px pointer;outline: none;background: none;color:gray;border: none;">
            <option>Your profile</option>
            <option>Your repository</option>
            <option>Your project</option>
            <option>Your star</option>
            <option>Your gits</option>
            <hr>
            <option>Upgrade</option>
            <option>Try Enterprise</option>
            <option>Feature preview</option>
            <option>Help</option>
            <option>Settings</option>
            <hr>
            <option>Sign out</option>
        </select>
    </div>
</header>